@model MvcApplication18.Models.Blog
@{
    ViewBag.Title = "Create";
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Home/ErrorKiri");
    }
}



    <h3>Loo uus postitus..</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Postitus</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.pealkiri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pealkiri)
            @Html.ValidationMessageFor(model => model.pealkiri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kuupaev)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kuupaev)
          
            @Html.ValidationMessageFor(model => model.kuupaev)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sisu)
        </div>
        <div class="editor-field ">
            
           @Html.TextAreaFor(model => model.sisu, new { cols = 25, @rows = 5 })
            @Html.ValidationMessageFor(model => model.sisu)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
